{% extends 'form.html' %}

{% block resultado %}
<div>
    <table class="mt-3 border">
        <thead>
            <th class="bg-dark text-light text-center px-3 py-2 fw-semibold">Alimento</th>
            <th class="bg-dark text-light text-center px-3 py-2 fw-semibold">Cal Totales</th>
            <th class="bg-dark text-light text-center px-3 py-2 fw-semibold">Clasificacion</th>
            <th class="bg-dark text-light text-center px-3 py-2 fw-semibold">% Predominante</th>
            <th class="bg-dark text-light text-center px-3 py-2 fw-semibold">Grasas (g)</th>
            <th class="bg-dark text-light text-center px-3 py-2 fw-semibold">Proteínas (g)</th>
            <th class="bg-dark text-light text-center px-3 py-2 fw-semibold">Carbs (g)</th>
        </thead>

        <thead>
            <th class="text-center px-3 py-2">{{ nombre }}</th>
            <th class="text-center px-3 py-2">{{ totalCal }} kcal</th>
            <th class="text-center px-3 py-2">{{ clasif }}</th>
            <th class="text-center px-3 py-2">{{ predom }}%</th>
            <th class="text-center px-3 py-2">{{ grasas }}</th>
            <th class="text-center px-3 py-2">{{ proteinas }}</th>
            <th class="text-center px-3 py-2">{{ carbs }}</th>
        </thead>
    </table>
</div>
{% endblock resultado %}